@{
    ViewData["Title"] = "Сбросить пароль";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/nullStyle.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="header__content">
                <a href="../Home/Index"><div class="header__logo"><img src="~/img/logo.png" alt=""></div></a>
            </div>
        </div>
        <div class="content">
            <div class="text2">Сбросить пароль</div>
            <br />
            <div class="text1">Для сброса пароля перейдите по ссылке в письме, отправленном на ваш email.</div>
        </div>
    </div>
    </body>
</html>