@model SanTech.Models.ForgotPassword
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/nullStyle.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/forgotPassword.css">
    <title>Сброс пароля</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header__content">
                <a href="../Home/Index">
                    <div class="header__logo"><img src="~/img/logo.png" alt=""></div>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="text2">Забыли пароль?</div>
            <form asp-controller="ForgotPassword" asp-action="ForgotPassword" method="post" class="form-horizontal">
                <br />
                <div class="text1">Введите email.</div>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="text1 form__control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="button1 text1 submit__button">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>