@model SanTech.Models.ResetPassword
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/nullStyle.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/forgotPassword.css">
    <link href="~/css/validation.css" rel="stylesheet" />
    <title>Сброс пароля</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header__content">
                <a href="../Home/Index">
                    <div class="header__logo"><img src="~/img/logo.png" alt=""></div>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="text2">Смена пароля</div>
            <form method="post">
                <input asp-for="Code" type="hidden" />
                <div class="form__group">
                    <p class="text1">Введите email-адрес</p>
                    <input type="email" asp-for="Email" class="text1 form__control" placeholder="example@gmail.com" />
                    <p><span asp-validation-for="Email"></span></p>
                </div>
                <div class="form__group">
                    <p class="text1">Введите новый пароль</p>
                    <input type="password" asp-for="Password" class="text1 form__control" />
                    <p><span asp-validation-for="Password"></span></p>
                </div>
                <div class="form__group">
                    <p class="text1">Повторите пароль</p>
                    <input type="password" asp-for="ConfirmPassword" class="text1 form__control" />
                    <p><span asp-validation-for="ConfirmPassword"></span></p>
                </div>
                <button type="submit" class="button1 text1 submit__button">Сбросить пароль</button>
            </form>
        </div>
    </div>
</body>
</html>