<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/nullStyle.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/forgotPassword.css">
    <title>Сброс пароля</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header__content">
                <a href="../Home/Index">
                    <div class="header__logo"><img src="~/img/logo.png" alt=""></div>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="text2">Успешно</div>
            <div class="text1 reset__password">Ваш пароль сброшен. Для входа перейдите по <a asp-controller="SignInAccount" asp-action="SignInAccount">ссылке</a>.</div>
        </div>
    </div>
</body>
</html>