@model SanTech.Models.UserLogin
@{
    Layout = "_Layout";
}
<link href="~/css/validation.css" rel="stylesheet" />
<link href="~/css/authorization.css" rel="stylesheet" />

<div class="authorization">
    <div class="authorization__content">
        <div class="authorization__content__header">
            <a asp-action="SignInAccount" asp-controller="SignInAccount"
                class="authorization__content__header__login _active__button tablinks" id="Login__button">
                <span class="text1 authorization__content__header__text">Вход</span>
            </a>
            <a asp-action="RegistAccount" asp-controller="RegistAccount"
                class="authorization__content__header__registration tablinks" id="Registration__button">
                <span class="text1 authorization__content__header__text">Регистрация</span>
            </a>
        </div>
        <div class="authorization__content__form">
            <div id="Login">
                <form asp-action="SignInAccount" asp-controller="SignInAccount" method="post" onsubmit="return submitUserForm();">
                    <p class="text1 input__display__text">Введите email-адрес <span asp-validation-for="Email"></span></p>
                    <input type="email" asp-for="Email" class="text1 form__input" />
                    <p class="text1 input__display__text">Введите пароль <span asp-validation-for="Password"></span></p>
                    <input type="password" asp-for="Password" class="text1 form__input" />
                     <div class="text1 forgot__link"><a asp-controller="ForgotPassword" asp-action="ForgotPassword">Забыли пароль?</a></div>
                    <div class="g-recaptcha" data-sitekey="6LeQROEfAAAAAANcgXn0oQRg7k7iNIBOOs-gSiIA" data-callback="verifyCaptcha"></div>
		                <div id="g-recaptcha-error"></div>
                    <button type="submit" class="button1 text1 form__button"><span>Войти</span></button>
                </form>
                <script src='https://www.google.com/recaptcha/api.js'></script>
	<script>
		var recaptcha_response = '';
		function submitUserForm() {
			if (recaptcha_response.length == 0) {
				document.getElementById('g-recaptcha-error').innerHTML = '<span class="text1 field-validation-error">Это обязательное поле</span>';
				return false;
			}
			return true;
		}

		function verifyCaptcha(token) {
			recaptcha_response = token;
			document.getElementById('g-recaptcha-error').innerHTML = '';
		}
	</script>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>