@using SanTech.Models
@model IEnumerable<Product>
@{
    Layout = "_Layout";
}
<div class="content__search">
    <div class="content__search__category">
        <div class="text1 content__search__category__button">Категория Товара</div>
        <ul class="content__search__category__list _scroll">
            <li class="content__search__category__list__li" id="0">
                <div class="category__list__li__logo"><img src="~/img/category/category_0.svg" alt=""></div>
                <div class="text1 category__list__li__text">Все категории</div>
            </li>
            <li class="content__search__category__list__li" id="1">
                <div class="category__list__li__logo"><img src="~/img/category/category_1.svg" alt=""></div>
                <div class="text1 category__list__li__text">Электроинструменты</div>
            </li>
            <li class="content__search__category__list__li" id="2">
                <div class="category__list__li__logo"><img src="~/img/category/category_2.svg" alt=""></div>
                <div class="text1 category__list__li__text">Аккумуляторный инструмент</div>
            </li>
            <li class="content__search__category__list__li" id="3">
                <div class="category__list__li__logo"><img src="~/img/category/category_3.svg" alt=""></div>
                <div class="text1 category__list__li__text">Сварочное оборудование и аксессуары</div>
            </li>
            <li class="content__search__category__list__li" id="4">
                <div class="category__list__li__logo"><img src="~/img/category/category_4.svg" alt=""></div>
                <div class="text1 category__list__li__text">Компрессоры и пневмоинструменты</div>
            </li>
            <li class="content__search__category__list__li" id="5">
                <div class="category__list__li__logo"><img src="~/img/category/category_5.svg" alt=""></div>
                <div class="text1 category__list__li__text">Ручной инструмент</div>
            </li>
            <li class="content__search__category__list__li" id="6">
                <div class="category__list__li__logo"><img src="~/img/category/category_6.svg" alt=""></div>
                <div class="text1 category__list__li__text">Прочее оборудование и устройства</div>
            </li>
            <li class="content__search__category__list__li" id="7">
                <div class="category__list__li__logo"><img src="~/img/category/category_7.svg" alt=""></div>
                <div class="text1 category__list__li__text">Садовая техника и инструменты</div>
            </li>
            <li class="content__search__category__list__li" id="8">
                <div class="category__list__li__logo"><img src="~/img/category/category_8.svg" alt=""></div>
                <div class="text1 category__list__li__text">Станки по дереву и металлу</div>
            </li>
            <li class="content__search__category__list__li" id="9">
                <div class="category__list__li__logo"><img src="~/img/category/category_9.svg" alt=""></div>
                <div class="text1 category__list__li__text">Измерительный инструмент</div>
            </li>
            <li class="content__search__category__list__li" id="10">
                <div class="category__list__li__logo"><img src="~/img/category/category_10.svg" alt=""></div>
                <div class="text1 category__list__li__text">Расходные материалы</div>
            </li>
            <li class="content__search__category__list__li" id="11">
                <div class="category__list__li__logo"><img src="~/img/category/category_11.svg" alt=""></div>
                <div class="text1 category__list__li__text">Аксессуары и комплектующие для инструментов</div>
            </li>
            <li class="content__search__category__list__li" id="12">
                <div class="category__list__li__logo"><img src="~/img/category/category_12.svg" alt=""></div>
                <div class="text1 category__list__li__text">Средства индивидуальной защиты</div>
            </li>
            <li class="content__search__category__list__li" id="13">
                <div class="category__list__li__logo"><img src="~/img/category/category_13.svg" alt=""></div>
                <div class="text1 category__list__li__text">Наборы инструментов</div>
            </li>
            <li class="content__search__category__list__li" id="14">
                <div class="category__list__li__logo"><img src="~/img/category/category_14.svg" alt=""></div>
                <div class="text1 category__list__li__text">Лестницы</div>
            </li>
        </ul>
        <input type="number" value="0" class="content__search__category__number" />
    </div>
    <div class="content__search__sort">
        <div class="text1 content__search__sort__button">Сортировка товара</div>
        <ul class="content__search__sort__list _scroll">
            <li class="content__search__sort__list__li" id="1">
                <div class="sort__list__li__logo"><img src="~/img/sort/sort_1.svg" alt=""></div>
                <div class="text1 sort__list__li__text">Сначала дороже</div>
            </li>
            <li class="content__search__sort__list__li" id="2">
                <div class="sort__list__li__logo"><img src="~/img/sort/sort_2.svg" alt=""></div>
                <div class="text1 sort__list__li__text">Сначала дешевле</div>
            </li>
            <li class="content__search__sort__list__li" id="3">
                <div class="sort__list__li__logo"><img src="~/img/sort/sort_3.svg" alt=""></div>
                <div class="text1 sort__list__li__text">По алфавиту a-z</div>
            </li>
            <li class="content__search__sort__list__li" id="4">
                <div class="sort__list__li__logo"><img src="~/img/sort/sort_4.svg" alt=""></div>
                <div class="text1 sort__list__li__text">По алфавиту z-a</div>
            </li>
            <li class="content__search__sort__list__li" id="5">
                <div class="sort__list__li__logo"><img src="~/img/sort/sort_5.svg" alt=""></div>
                <div class="text1 sort__list__li__text">Сначала новые</div>
            </li>
            <li class="content__search__sort__list__li" id="6">
                <div class="sort__list__li__logo"><img src="~/img/sort/sort_6.svg" alt=""></div>
                <div class="text1 sort__list__li__text">Сначала старые</div>
            </li>
        </ul>
        <input type="number" value="5" class="content__search__sort__number" />
    </div>
    <div class="content__search__input">
        <input class="text1" type="text" placeholder="Поиск..." />
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="612.08px" height="612.08px"
             viewBox="0 0 612.08 612.08" style="enable-background:new 0 0 612.08 612.08;"
             xml:space="preserve">
        <g>
        <path d="M237.927,0C106.555,0,0.035,106.52,0.035,237.893c0,131.373,106.52,237.893,237.893,237.893
		c50.518,0,97.368-15.757,135.879-42.597l0.028-0.028l176.432,176.433c3.274,3.274,8.48,3.358,11.839,0l47.551-47.551
		c3.274-3.274,3.106-8.703-0.028-11.838L433.223,373.8c26.84-38.539,42.597-85.39,42.597-135.907C475.82,106.52,369.3,0,237.927,0z
		 M237.927,419.811c-100.475,0-181.918-81.443-181.918-181.918S137.453,55.975,237.927,55.975s181.918,81.443,181.918,181.918
		S338.402,419.811,237.927,419.811z" />
                        </g>
    </div>
</div>
<div class="content__search__second">
    <div class="content__search__rangeCost">
        <div class="content__search__rangeCost__values">
            <span class="text1"> Цена от</span>
            <span class="text1" id="content__search__rangeCost__range1">0</span>
            <span class="text1">грн. до </span>
            <span class="text1" id="content__search__rangeCost__range2">100</span>
            <span class="text1">грн.</span>
        </div>
        <div class="content__search__rangeCost__container">
            <div class="slider-track"></div>
            <input type="range" min="0" max="100000" value="0" id="slider-1" oninput="slideOne()">
            <input type="range" min="0" max="100000" value="100000" id="slider-2" oninput="slideTwo()">
        </div>
    </div>
    <button type="submit" class="text1 button1 content__search__submit">Подтвердить поиск</button>
</div>
<div class="slider">
    <div class="slider__content">
        <img src="~/img/slider/photo_1.jpg" alt="">
    </div>
</div>
<div class="ads">
    <div class="text2 ads__title">Товары</div>
    <div class="ads__content">
        @foreach (Product u in Model)
        {
        <div class="ads__content__item">
            <div class="ads__content__item__image">
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(u.Image))" alt="">
            </div>
            <div class="text1 ads__content__item__title">
                @u.Title
            </div>
            <div class="text1 ads__content__item__code">Код: @u.Id</div>
            @if (u.SaleProcent == 0)
            {
            <div class="text1 ads__content__item__cost">@u.Cost.ToString("N") грн.</div>
            }
            else
            {
            <div class="ads__content__item__sale">
                <div class="text1 item__sale__old">@u.Cost</div>
                <div class="text1 item__sale__new">@{var saleCost = (u.Cost * (100 - u.SaleProcent))/100;}@saleCost грн.</div>
            </div>
            }
            <div class="ads__content__item__basket">
                <svg width="70" height="70" viewBox="0 0 70 70" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path stroke="black" fill="black" fill-rule="evenodd" clip-rule="evenodd"
                          d="M2.91675 5.83337V11.6667H13.9511L17.1867 26.8887L17.1978 26.8864L18.5582 33.2883L18.5209 33.2961L22.0926 50.0993C19.4017 51.1721 17.5001 53.8015 17.5001 56.875C17.5001 60.9021 20.7647 64.1667 24.7917 64.1667C28.8188 64.1667 32.0834 60.9021 32.0834 56.875C32.0834 56.3757 32.0332 55.8881 31.9376 55.4167H49.7292C49.6336 55.8881 49.5834 56.3757 49.5834 56.875C49.5834 60.9021 52.848 64.1667 56.8751 64.1667C60.9021 64.1667 64.1667 60.9021 64.1667 56.875C64.1667 52.848 60.9021 49.5834 56.8751 49.5834H27.9466L26.7067 43.75H60.8855L67.0834 14.5834H20.5348L18.6959 5.93231V5.83337H2.91675ZM56.8751 55.4167C56.0698 55.4167 55.4167 56.0698 55.4167 56.875C55.4167 57.6803 56.0698 58.3334 56.8751 58.3334C57.6804 58.3334 58.3334 57.6803 58.3334 56.875C58.3334 56.0698 57.6804 55.4167 56.8751 55.4167ZM23.3334 56.875C23.3334 56.0698 23.9863 55.4167 24.7917 55.4167C25.5972 55.4167 26.2501 56.0698 26.2501 56.875C26.2501 57.6803 25.5972 58.3334 24.7917 58.3334C23.9863 58.3334 23.3334 57.6803 23.3334 56.875ZM21.7866 20.4167L25.5053 37.9167H56.1614L59.8801 20.4167H21.7866Z"
                          fill="#E7E7E7" />
                </svg>
            </div>
            <div class="ads__content__item__like">
                <svg width="40" height="40" viewBox="0 0 70 70" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M32.6904 16.7074L35.115 19.8633L37.3941 16.6006C41.8388 10.2374 48.8345 9.09819 54.6538 11.5013C60.5017 13.9164 64.9502 19.8392 64.0498 27.6634C63.5864 31.6933 61.6211 35.7503 58.7015 39.6651C55.7925 43.5656 52.0556 47.1633 48.3068 50.2491C44.5674 53.3273 40.8822 55.8421 38.1271 57.5892C36.8729 58.3843 35.8168 59.0169 35.0427 59.4681C34.2642 58.9909 33.1973 58.3207 31.9289 57.4816C29.168 55.6551 25.4749 53.0441 21.7266 49.8979C17.9682 46.7436 14.2204 43.1059 11.3016 39.2369C8.36501 35.3443 6.41437 31.4106 5.95383 27.6429C5.06378 20.3616 9.25707 14.4233 15.0171 11.8824C20.6891 9.38041 27.7261 10.2466 32.6904 16.7074Z"
                          fill="#000" />
                </svg>
            </div>
            <div class="ads__content__item__saleInfo"><span class="text1">-@u.SaleProcent%</span></div>
        </div>
        }
    </div>
</div>