@import url('var.css');
.authorization {
    margin-top: 100px;
    padding: 20px 0;
}
.authorization__content {
    margin: 0 auto;
    max-width: 500px;
    height: auto;
    box-shadow: 0 0 10px 0px rgba(34, 34, 34, .3);
}
.authorization__content__header {
    text-align: center;
    display: flex;
}
.tablinks {
    width: 50%;
    height: 50px;
    padding: 10px 0; 
    cursor: pointer;
}
._active__button{
    border-bottom: 1px solid var(--yellow-color);
}
.authorization__content__header__text{
    
    font-weight: 400;
    font-size: 20px;
}
.authorization__content__form {
    padding: 20px;
}
.input__display__text {
    margin: 20px 0 0 0;
}
.form__input {
    width: 100%;
    height: 40px;
    background: var(--gray-color);
    border-radius: 5px;
    padding: 0 20px;
}
.form__button {
    width: 100%;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    margin: 20px 0 0 0;
}
.forgot__link{
    text-align: right;
}
.forgot__link a{
    color: var(--blue-color);
}
.forgot__link a:hover{
    color: var(--blueHover-color);
}
@media(max-width: 500px)
{
    .container{
        padding: 0 20px;
    }
}
@media(max-width: 360px)
{
    .authorization__content__header__text {
        font-size: 16px;
    }
    .input__display__text {
        font-size: 14px;
    }
    .form__button {
        font-size: 16px;
    }
}