@import url('var.css');

.container {
    padding: 50px 0;
    max-width: 1280px;
    margin: 0 auto;
}

.confirm {
    display: flex;
    justify-content: space-between;
}

.confirm__first {
    width: 47.5%;
}

.confirm__first__contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.confirm__first__delivery {
    width: 100%;
}

.confirm__first__payment {
    width: 100%;
}

.confirm__second {
    width: 47.5%;
}

.confirm__second__total {
    width: 100%;
}

.confirm__second__basket {
    width: 100%;
}

.confirm__input {
    width: 100%;
    height: 40px;
    background: var(--gray-color);
    border-radius: 5px;
    padding: 0 20px;
    margin-bottom: 10px;
}

.confirm__title__text {
    margin: 20px 0;
}

.contacts__input__block {
    width: 45%;
    margin: 0 0 20px 0;
}

.confirm__radio {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: 2px solid var(--darkGray-color);
    transition: 0.2s all linear;
    outline: none;
}

    .confirm__radio:checked {
        border: 6px solid var(--red-color);
    }

.delivery__radio__block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.total__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.total__block__finalCost, .total__block__bonus {
    font-weight: 700;
    color: var(--red-color);
}

.total__block__cost {
    font-weight: 700;
}

.confirm__second__basket {
    width: 100%;
    max-height: 500px;
    overflow: auto;
}

.total__button {
    margin: 0 auto;
}

.confirm__basket__image {
    min-width: 75px;
}
.basket__content__total__info__button {
    max-width: 250px;

}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

    .custom-checkbox + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

        .custom-checkbox + label::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #adb5bd;
            border-radius: 0.25em;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }

    .custom-checkbox:checked + label::before {
        border-color: var(--red-color);
        background-color: var(--red-color);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
.total__block__finalCost {
    display: none;
}

._active__finalCost {
    display: block;
}

@media(max-width: 1280px) {
    .confirm {
        padding: 0 20px;
    }
}

@media(max-width: 730px) {
    .confirm {
        display: block;
    }

    .confirm__first, .confirm__second {
        width: 100%;
    }

    .confirm__first__contacts {
        display: block;
    }

    .contacts__input__block {
        width: 100%;
    }

    .container {
        padding: 20px 0;
    }
}
