.form__control {
    max-width: 300px;
    height: 40px;
    background: var(--gray-color);
    border-radius: 5px;
    padding: 0 20px;
}

.submit__button {
    max-width: 300px;
    margin: 20px 0 0 0;
}
