.form__control {
    max-width: 320px;
    height: 40px;
    background: var(--gray-color);
    border-radius: 5px;
    padding: 0 20px;
}

.submit__button {
    max-width: 300px;
    margin: 20px 0 0 0;
}

.form__group p {
    margin: 20px 0 0 0;
}

.reset__password {
    margin: 20px 0 0 0;
}

    .reset__password a {
        color: var(--blue-color);
    }

        .reset__password a:hover {
            color: var(--blueHover-color);
        }
