@model SanTech.Models.OrderViewModel
@{
    Layout = "_Layout";
}
<link href="~/css/confirm.css" rel="stylesheet" />
<div class="content__thanks">
    <div class="text1 content__thanks__title">Заказ успешно оформлен</div>
    <div class="text1 content__thanks__text">Спасибо за заказ!</div>
    <div class="text1 content__thanks__warning">Внимание! Доставка оплачивается отдельно при получении товара. Ждите ответ от администратора на вашей почте <b>@Model.Email</b></div>
    <div class="text1 content__thanks__warning__number">Номер вашего заказа <b>№@Model.OrderNumber</b></div>
    <a asp-controller="Home" asp-action="Index"><div class="text1 content__thanks__button">Перейти к покупкам</div></a>
</div>